#880fEa
html    {
        background: rgb(116,84,233);
        background: rgb(13%,24%,75%);
        background: purple red blue green grey white darkorchid darkturquoise
                    darkviolet ;
        }
pre .comment { color: #558817; }
pre .comment { color: #8080ff; }
pre .comment { color: #800080; }
pre .comment { color: #799681; }
pre .comment { color: #800313; }
pre .comment { color: #843628; }
pre .comment { color: #800076; }
pre .comment { color: #864080; }
pre .comment { color: #957080; }
pre .comment { color: #330080; }
pre .comment { color: #490089; }
pre .comment { color: #381809; }


color { #146 }

